.navbar-comensal{
    background-color: #970101;
}

.img-platillo{
    width:35px; 
    margin-left: 20px;
}

.nav-link-redbar{
    color: #faf1e2e0;
}

.navbar-nav .nav-link:hover {
    /* Add your hover styles here */
    color: white;
    /* Example: change the color to red on hover */
}

.img-navbar{
    width:50px; 
    margin-left: 10px;
}

.img-offcanv{
    width:110px; 
    margin-left: 30%;
}

.cerrar-sesion:hover{
    color:red;
}
