p {
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
}
h1 {
    font-family: 'Sigmar One' !important;
    font-style: normal;
    text-align: center;
    color: #000000;
    font-size: 2.875em;
}

.Imagen{
    width:70px;
    height: 70px;
    top: 0.5em;
    left: 40px;
    position: relative; 
    z-index: 1;
}
#header{
    background: #EE7728;
}

a:link, a:visited {
    font-family: Piazzolla;
    font-style: italic;
    color: #a74d04;
}
body {
    /* The image used */
    background-image: url( 'FondoDeVista.png') !important;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-style: italic;
  }
caption{
    background: #970101 !important;
}
input[type=submit]{
    background-color: #a74d04  !important;
}
.breadcrumbs{
    background-color: #970101 !important;
}
.selector-chosen h2 {
    background-color: #970101 !important;
}
#changelist-filter h2 {
    background-color: #970101 !important;
}