
.row {
    width: 1000px;
    height: 100px;
}
h1.Titulo {
    font-family: 'Sigmar One';
    font-style: normal;
    font-size: 100px;
    line-height: 16px;
    top: 2.5em;
    text-align: center;
    position: relative;
    width: 950px;
    height: 180px;
    left: 50px;
    top: 100px;
}

h1.Titulo3 {
    font-family: 'Sigmar One';
    font-style: normal;
    font-size: 100px;
    line-height: 16px;
    top: 2.5em;
    text-align: center;
    position: relative;
    width: 450px;
    height: 100px;
    left: 100px;
    top: 10px;
}
p.parrafo {
    position: relative;
    font-family: 'Salsa';
    font-style: normal;
    font-size: 35px;
    height: 100px;
    left: 120px;
    top: 180px;
    width: 700px;
}

img.ImagenDos {
    width: 350px;
    height: 190px;
    top: -2.5em;
    left: 680px;
    position: relative;
    z-index: 1;
}

img.ImagenUno{
    width:120px;
    height: 120px;
    top: 0em;
    left: 80px;
    position: relative; 
    z-index: 1;  
}



