.img-platillo{
    width:35px; 
    margin-left: 20px;
}
.Imagen {
    width: 70px;
    height: 70px;
    top: -4.5em;
    left: 40px;
    position: relative;
    z-index: 1;
}
.ImagenUno {
    width: 300px;
    height: 300px;
    top: -17em;
    left: 147px;
    position: relative;
    z-index: 1;
  }

  .btn-secondary {
    background-color: #FFD494;
    box-sizing: border-box;
    border: 1.5px solid #970101;
    border-radius: 13px;
    font-family: Piazzolla;
    height: 60px;
    width: 150px;
    left: 262px;
    top: 313px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    border-radius: 15px;
    position: relative;
    left: 58.98%;
    right: 35.18%;
    top: -39em;
    bottom: 25.41%;
    color: #970101;
  }
  

.btn-primary {
    background-color: #a74d04;
    box-sizing: border-box;
    border: 1.5px solid #a74d04;
    border-radius: 13px;
    font-family: Piazzolla;
    height: 60px;
    width: 150px;
    left: 262px;
    top: 313px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    border-radius: 15px;
    position: relative;
    left: 48.98%;
    right: 35.18%;
    top: -39em;
    bottom: 25.41%;
    color: white;
}

h1.Titulo {
    font-family: 'Sigmar One';
    font-style: normal;
    font-size: 35px;
    line-height: 16px;
    position: relative;
    width: 550px;
    height: 40px;
    left: 240px;
    top: 20px;
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 23px;
    color: #6E2C00;
}
p.Contenido {
    position: relative;
    width: 150px;
    height: 50px;
    left: 480px;
    top: -24em;
}

p.Contenido2 {
    position: relative;
    width: 80px;
    height: 50px;
    left: 480px;
    top: -29em;
}

p.Contenido3 {
    position: relative;
    width: 550px;
    height: 30px;
    left: 480px;
    top: -35em;
}
.card-text {
    font-family: 'Roboto', cursive;
    position: relative;
    width: 450px;
    height: 110px;
    left: 480px;
    top: -25em;
    color: #63574f;
}

.card-text2 {
    font-family: 'Roboto', cursive;
    position: relative;
    width: 200px;
    height: 30px;
    left: 570px;
    top: -32em;
    color: #63574f;
}


.card-text3 {
    font-family: 'Roboto', cursive;
    position: relative;
    width: 350px;
    height: 20px;
    left: 600px;
    top: -37em;
    color: #63574f;
}


.container-sm {
    position: relative;
    width: 890px;
    height: 460px;
    left: 0px;
    top: 80px;
    background: #FFD494;
}


.container-sm-2 {
    position: relative;
    width: 890px;
    height: 80px;
    left: -10px;
    top: 0px;
    background: #EE7728;
  }


   