
.img-platillo{
    width:35px; 
    margin-left: 20px;
}
.Imagen{
    width:70px;
    height: 70px;
    top: 0.5em;
    left: 40px;
    position: relative; 
    z-index: 1;
}
.ImagenUno{
    width:300px;
    height: 300px;
    top: 12em;
    left: 250px;;
    position: relative; 
    z-index: 1;
}

.btn-secondary {
    background-color: #FFD494;
    box-sizing: border-box;
    border: 1.5px solid #970101;
    border-radius: 13px;
    font-family: Piazzolla;
    height: 38px;
    width: 180px;
    left: 262px;
    top: 313px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    border-radius: 20px;
    position: relative;
    left: 42.98%;
    right: 38.18%;
    top: -28em;
    bottom: 25.41%;
    color: #970101;
  }

h1.Titulo {
    font-family: 'Sigmar One';
    font-style: normal;
    font-size: 45px;
    line-height: 16px;
    position: relative;
    width: 550px;
    height: 180px;
    left: 282px;
    top: 25px;
}


p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 23px;
    color: #6E2C00;
}

p.Contenido{
    position: absolute;
    width: 550px;
    height: 180px;
    left: 580px;
    top: 220px;
}
.Res{
    height: 50px; 
  
}

.card-text {
    font-family: 'Roboto', cursive;
    position: absolute;
    width: 220px;
    height: 150px;
    left: 11px;
    top: 58px;
}

.card-text-2{
    font-family: 'Roboto', cursive;
    position: absolute;
    width: 250px;
    height: 20px;
    left: 100px;
    top: 20px;
}

h2.Opcion{
    color : #6E2C00;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 16px;
    position: absolute;
    left: 60px;
    top: 20px;

}

.table-sm {
    background: rgba(211, 84, 0, 0.16);
    box-sizing: border-box;
    border: 3px solid #D35400;
    font-family: 'Roboto', cursive;
    position: relative;
    width: 250px;
    height: 220px;
    left: 140px;
    top: -21em;
}
.table-sm-2 {
    background: rgba(211, 84, 0, 0.16);
    box-sizing: border-box;
    border: 3px solid #D35400;
    font-family: 'Roboto', cursive;
    position: relative;
    width: 250px;
    height: 220px;
    left: 170px;
    top: -21em;
}
.table-sm-3 {
    background: rgba(211, 84, 0, 0.16);
    box-sizing: border-box;
    border: 3px solid #D35400;
    font-family: 'Roboto', cursive;
    width: 250px;
    height: 220px;
    left: 200px;
    top: -21em;
    position: relative;
}
.table-sm-4 {
    background: rgba(211, 84, 0, 0.16);
    box-sizing: border-box;
    border: 3px solid #970101;
    font-family: 'Roboto', cursive;
    position: relative;
    width: 250px;
    height: 50px;
    left: 128px;
    top: -21em;
}
.table-sm-5 {
    background: rgba(211, 84, 0, 0.16);
    box-sizing: border-box;
    border: 3px solid #970101;
    font-family: 'Roboto', cursive;
    position: relative;
    width: 250px;
    height: 50px;
    left: 410px;
    top: -25em;
}

.table-sm-6 {
    background: rgba(211, 84, 0, 0.16);
    box-sizing: border-box;
    border: 3px solid #970101;
    font-family: 'Roboto', cursive;
    position: relative;
    width: 250px;
    height: 50px;
    left: 690px;
    top: -29.2em;
}

p.Contenido2{
    position: absolute;
    width: 550px;
    height: 180px;
    left: 580px;
    top: 400px;
}

p.Contenido3{
    position: absolute;
    width: 550px;
    height: 180px;
    left: 580px;
    top: 180px;
}

.container-sm {
    position: relative;
    width: 891px;
    height: 460px;
    left: 1em;
    top: 61px;
    background: #FFD494;
}


.container-sm-2{
    position: absolute;
    width: 890px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #EE7728;
    border-radius: 20px;
}