.title{
    font-family: 'Sigmar One';
    font-style: normal;
    text-align: center;
}

.bod{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
    background-color : #FFE3B8;
    background-image: url('../img/bg4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family: 'Sigmar', cursive;
}

.toggler-left {
    order: -1;
    margin-right: 0.5rem;
  }
  