@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Salsa&family=Sigmar+One&display=swap');


body{
    background-color : #FFE3B8;
    background-image: url('../img/bg2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
   
}
h1{
    font-family: 'Sigmar', cursive;
}

.toggler-left {
    order: -1;
    margin-right: 0.5rem;
  }
  