
h1.Titulo {
    font-family: 'Sigmar One';
    font-style: normal;
    font-size: 35px;
    line-height: 16px;
    top: 1.5em;
    text-align: center;
    position: relative;
    width: 550px;
    height: 60px;
    left: 200px;
    top: -110px;
} 

h1.Titulo2 {
    font-family: 'Sigmar One';
    font-style: normal;
    font-size: 40px;
    line-height: 16px;
    top: 3.5em;
    text-align: center;
    position: relative;
    width: 380px;
    height: 50px;
    left: -370px;
    top: -60px;
}

h3.SubTitulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 16px;
    text-align: center;
    position: relative;
    width: 650px;
    height: 60px;
    left: 200px;
    top: -60px;
}
h3.SubTitulo2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    position: relative;
    width: 650px;
    height: 40px;
    left: 120px;
    top: -100px;
}

.form-group {
    position: relative;
    width: 23%;
    height: 300px;
    left: 43.81%;
    right: 35.18%;
    top: 48.62%;
    bottom: 25.41%;
}

img.ImagenUno{
    width:195px;
    height: 175px;
    top: 2em;
    left: -10px;;
    position: relative; 
    z-index: 1;
}

img.ImagenDos{
    width:60px;
    height: 60px;
    top: 16.5em;
    left: 100px;;
    position: relative; 
    z-index: 1;
    
}

img.ImagenTres {
    width: 100px;
    height: 50px;
    top: -4em;
    left: 308px;
    position: relative;
    z-index: 1;
}

img.ImagenCuatro {
    width: 80px;
    height: 60px;
    top: 1.5em;
    left: 240px;
    position: relative;
    z-index: 1;
  }

.col-sm-10{
    width: 280px;
    border-radius: 5px;
    position: relative;
    left: 42.81%;
    right: 35.18%;
    top: 50.62%;
    bottom: 25.41%;
}

.subirBajar {
    width: 130px;
    border-radius: 5px;
    position: absolute;
    left: 45.81%;
    right: 35.18%;
    top: 45%;
    bottom: 25.41%;
}

.col-sm-11 {
    width: 250px;
    border-radius: 5px;
    position: absolute;
    left: 45.81%;
    right: 35.18%;
    top: 70%;
    bottom: 25.41%;
  }

.btn-primary{
    background: #970101;
    border-radius: 15px;
    height: 70px;
    width: 190px;
    left: 262px;
    top: 313px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
    border-radius: 15px;

    position: relative;
    left: 42.81%;
    right: 35.18%;
    top: 50.62%;
    bottom: 25.41%;
}

.container-sm {
   height: 100px;
  }

.btn-secondary{
    background: #970101;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    left: 259px;
    top: 313px;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
    border-radius: 15px;
    position: relative;
    left: 50.81%;
    right: 35.18%;
    top: 60.62%;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}




