
.btn-primary{
    background: #970101;
    border-radius: 15px;
    height: 70px;
    width: 190px;
    left: 262px;
    top: 313px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
    border-radius: 15px;
    position:  relative;
    left: 42.81%;
    right: 35.18%;
    top: 62.62%;
    bottom: 25.41%;
}

.btn-secondary {
    background: #970101;
    border-radius: 15px;
    height: 70px;
    width: 190px;
    left: 259px;
    top: 313px;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    border-radius: 15px;
    position: relative;
    left: 42.81%;
    right: 35.18%;
    top: 80.62%;
    bottom: 25.41%;
}

h1.Titulo {
    font-family: 'Sigmar One';
    font-style: normal;
    font-size: 95px;
    line-height: 16px;
    position: relative;
    top: 0.8em;
    left: 250px;
}

h3.SubTitulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 16px;
    text-align: center;
    left: 30px;
    top: 6.5em;
    border-radius: 0px;
    position: relative;
  }
  
/*Imagenes*/

img.ImagenUno {
    width: 200px;
    height: 170px;
    top: 0.5em;
    left: -30px;
    position: relative;
    z-index: 1;
}

img.ImagenDos {
    width: 230px;
    height: 130px;
    top: -2em;
    left: 450px;
    position: relative;
    z-index: 1;
}

img.ImagenTres {
    width: 80px;
    height: 80px;
    top: 1em;
    left: 400px;
    position: relative;
    z-index: 1;
}
img.ImagenCuatro {
    width: 100px;
    height: 100px;
    top: 1.5em;
    left: 390px;
    position: relative;
    z-index: 1;
}