body{
    background-color : #FFE3B8;
    background-image: url('../img/bg2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.img-platillo{
    width:35px; 
    margin-left: 20px;
}
.Imagen{
    width:70px;
    height: 70px;
    top: 0.5em;
    left: 40px;
    position: relative; 
    z-index: 1;
}
.ImagenUno{
    width:300px;
    height: 300px;
    top: 15em;
    left: 250px;;
    position: relative; 
    z-index: 1;
}

.navbar-comensal{
    background-color: #970101;
}

.nav-link-redbar{
    color: #faf1e2e0;
}

.navbar-nav .nav-link:hover {
    /* Add your hover styles here */
    color: white;
    /* Example: change the color to red on hover */
}

.btn-secondary{
    background-color: #FFD494;
    box-sizing: border-box;    
    border: 1.5px solid #970101;
    border-radius: 13px; font-family: Piazzolla;
    height: 60px;
    width: 150px;
    left: 262px;
    top: 313px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    border-radius: 15px;
    position: absolute;
    left: 68.98%;
    right: 35.18%;
    top: 75.62%;
    bottom: 25.41%;
    color :#970101;
}

.btn-primary {
    background-color: #a74d04;
    box-sizing: border-box;  
    border: 1.5px solid  #a74d04;  
    border-radius: 13px; font-family: Piazzolla;
    height: 60px;
    width: 150px;
    left: 262px;
    top: 313px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    border-radius: 15px;
    position: absolute;
    left: 48.98%;
    right: 35.18%;
    top: 75.62%;;
    bottom: 25.41%;
    color :white;
}

h1.Titulo{
    font-family: 'Sigmar One';
    font-style: normal;
    font-size: 35px;
    line-height: 16px;
    position: absolute;
    width: 550px;
    height: 180px;
    left: 240px;
    top: 40px;
}


p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 23px;
    color: #6E2C00;
}

p.Contenido{
    position: absolute;
    width: 550px;
    height: 180px;
    left: 580px;
    top: 280px;
}

.card-text{
    font-family: 'Roboto', cursive;
    position: absolute;
    width: 500px;
    height: 130px;
    left: 580px;
    top: 300px;
    color: #63574f;
}

.card-text2{
    font-family: 'Roboto', cursive;
    position: absolute;
    width: 200px;
    height: 20px;
    left: 670px;
    top: 452px;
    color: #63574f;
}

.card-text3{
    font-family: 'Roboto', cursive;
    position: absolute;
    width: 400px;
    height: 20px;
    left: 700px;
    top: 250px;
    color: #63574f;
}

p.Contenido2{
    position: absolute;
    width: 550px;
    height: 180px;
    left: 580px;
    top: 450px;
}

p.Contenido3{
    position: absolute;
    width: 550px;
    height: 180px;
    left: 580px;
    top: 250px;
}

.container-sm{
    position: absolute;
    width: 890px;
    height: 480px;
    left: 200px;
    top: 120px;
    border-radius: 20px;
    background: #FFD494;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.container-sm-2{
    position: absolute;
    width: 890px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #EE7728;
    border-radius: 20px;
}


   