{% extends 'base.html' %}
{% load static %}
{% block htmlhead %}
    <title>Carrito</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/carrito.css' %}">      
{% endblock htmlhead %}
{% block content %}
{% include 'navbar.html' %}
  <div class="container-sm" style="background-color: #FEF3E4; margin-top: 20px;">
    <br>
    <form method="POST" >
      {% csrf_token %}
    <div class="row">
      <h1>Carrito</h1>
    </div>
    <br>
    <div class="row">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="tituloCol" style="background-color: #ffd89d6f;">Platillo</th>
            <th scope="col" style="background-color: #ffd89d6f;"></th>
            <th scope="col" class="tituloCol">Precio</th>
            <th scope="col" class="tituloCol">Cantidad</th>
            <th scope="col" class="tituloCol">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for p in platillos %}
          <tr>
            <td style="background-color: #ffd89d6f;">
              <img src="{{ p.imagen }}" alt="platillo {{p.id_platillo}}"/>
            </td>
            <td style="background-color: #ffd89d6f;">{{ p.descrpcion }}</td>
            <td>${{ p.precio }}</td>
            <td>
              <input type="hidden" name="item[]" value="{{ p.id_platillo }}"/>
              <input type="number" name="cantidad[]" value="1" min="1"/>
            </td>
            <td>total</td>
            <td><a href="{% url 'eliminarPlatillo' p.id_platillo %}"
                   class="btn"><img src="{% static 'img/delete.svg' %}" alt="Eliminar" class="icon"></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="container-sm" style="background-color: #FFD494;">
        <br>
        <a href="{% url 'home' %}" type="button" class="btn btn-outline-dark">Agregar platillo +</a>
        <br>
        <div class="container-sm" style="text-align: right;">
          Total: ${{ total }}
          <br>
          <button type="submit" class="btn btn-outline-dark" style="background-color: orange;" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Confirmar orden
          </button>
        </div>
        <br>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exitoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="background-color: #FFE3B8;">
          <div class="modal-header" style="border-color: #EBC68F;">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              ¡Tu orden fue realizada con éxito!</h1>
          </div>
          <div class="modal-body" style="border-color: #EBC68F;">
            ¿Deseas iniciar la votación de helados?
          </div>
          <div class="modal-footer" style="border-color: #EBC68F;">
            <a type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              style="background-color: #E86A0E;">Quiero votar</a>
            <a type="button" href="{% url 'home' %}" class="btn btn-primary" style="background-color: #970101;">En otro momento</a>
          </div>
        </div>
      </div>
    </div>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>

    {% if success %}
    <script type="text/javascript">
     $(document).ready(function(){
       $("#exitoModal").modal('show');
     });
     $(".modal").on("hidden.bs.modal", function () {
       window.location = "{% url 'home' %}";
     });
    </script>
    {% endif %}
{% endblock content %}
