{% extends 'base.html' %}
{% load static %}
{% block htmlhead %}
<title>Elección de tipo de usuario </title>
<link rel="stylesheet" type="text/css" href="{% static 'css/usuario.css' %}"> 
{% endblock htmlhead %}
{% block content %}  
    <div class="container-sm">
        <div class="row">
            <img class="ImagenUno" src="{% static 'img/50Amigos2.png' %}" alt=""> 
            </div> 
            <div class="row">
            <h1 class="Titulo"  > BienvEnido </h1>
        </div> 
        <div class="row">               
                <img class="ImagenDos" src=" {% static 'img/LogoChef.png' %}" alt="">  
            </div>
            <br> 
            <div class="row">
            <h3 class="SubTitulo"> Seleccione un modo de usuario</h3>
        </div>      
        <div class="row">  
                <img class="ImagenTres" src="{% static 'img/Libreta.png' %}"  alt="">
            <button type="button" class="btn btn-primary btn-lg">Administrador</button>
        </div> 
        <div class="row"> 
                <img class="ImagenCuatro"  src="{% static 'img/Tableta.png' %}" alt="">
                <button type="button" class="btn btn-secondary btn-lg"> Responsable  de Tableta</button>
        </div>
            <!--
            <a href="#" class="btnUno">Administrador</a>
            <a href="#" class="btnDos">Tipo de Usuario</a> -->
    </div>
    {% endblock content %}