{% extends 'base.html' %}
{% load static %}
{% block htmlhead %}
<title>Elección de tipo de usuario </title>
<link rel="stylesheet" type="text/css" href="{% static 'css/usuario.css' %}"> 
{% endblock htmlhead %}
{% block content %}  
    <div class="container-fluid" style="padding-bottom: 50px;">

        <div class="container-sm">
            <img class="ImagenUno" src="{% static 'img/50Amigos2.png' %}" alt=""> 
            <div class="container-sm" style="text-align: center;">
                <h1 class="Titulo"> Bienvenido </h1>             
                <img class="img-fluid" src=" {% static 'img/LogoChef.png' %}" alt="" style="width: 300px;">
            </div>  
        </div>

        <div class="container-sm" style="text-align: center;">
            <h3 class="SubTitulo"> Seleccione un modo de usuario</h3>   
            <img class="img-fluid" src="{% static 'img/Libreta.png' %}"  alt="" style="width: 70px;">
            <button type="button" onclick="location.href = '{% url 'admin:index' %}'" class="btn btn-primary btn-lg">Administrador</button>
        </div><br>

        <div class="container-sm" style="text-align: center;">
            <img class="img-fluid" src="{% static 'img/Tableta.png' %}" alt="" style="width: 70px;">
            <button type="button" onclick="location.href = '{% url 'ModoResTableta' %}'" class="btn btn-primary btn-lg"> Responsable  de Tableta</button>
        </div>
    </div>

    {% endblock content %}
