{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #970101;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/logo50amigos.svg" class="img-fluid img-platillo" alt="encom">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link nav-link-redbar" aria-current="page" href="Inicio.html" >Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-redbar active" href="../VictoriaFronted/entradas-comensal.html" style="color: #faf1e2e0">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-redbar" href="{% url 'carrito' %}">Orden</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-sm">
          <div class="row">
                <h1 class="Titulo"> Bienvenidos</h1>
                <h1 class="Titulo2" >   a  </h1>
                <h1 class="Titulo3" >   50Amigos  </h1>
          </div>
          <div class="row">
            <p class="parrafo">
                Tu restaurante de elección para comidas <br>
                 con amigos y familia
            </p>
          </div>
          <div class="row">
            <img class="ImagenDos" src="images/Cuchara2.png"  alt="">
          </div>
        </div>
{% endblock content %}
