{% extends 'base.html' %}
{% load static %}
{% block htmlhead %}
    <title>50Amigos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/PantallaInicio.css' %}">      
{% endblock htmlhead %}
{% block content %}
{% include 'navbar.html' %}
<div class="container-sm">
    <div class="row">
        <h1 class="Titulo"> Bienvenidos</h1>
        <h1 class="Titulo2" >   a  </h1>
        <h1 class="Titulo3" >   50Amigos  </h1>
    </div>
    <div class="row">
        <p class="parrafo">
            Tu restaurante de elección para comidas <br>
            con amigos y familia
        </p>
    </div>
    <div class="row">
        <img class="ImagenDos" src="{% static 'img/Cuchara2.png' %}"  alt="">
    </div>
</div>
{% endblock content %}
