{% extends 'base.html' %}

{% block content %}

    <div class="container-sm">
          <div class="row">
                <h1 class="Titulo"> Bienvenidos</h1>
                <h1 class="Titulo2" >   a  </h1>
                <h1 class="Titulo3" >   50Amigos  </h1>
          </div>
          <div class="row">
            <p class="parrafo">
                Tu restaurante de elección para comidas <br>
                 con amigos y familia
            </p>
          </div>
          <div class="row">
            <img class="ImagenDos" src="img/Cuchara2.png"  alt="">
          </div>
        </div>
{% endblock content %}
