{% extends 'base.html' %}
{% load static %}
{% block htmlhead %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Añadir un platillo </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/PlatilloModSty.css' %}">      
{% endblock htmlhead %}
{% block content %}
{% include 'navbar.html' %}

    <div class="container-sm">
        <div class="container-sm-2">
            <h1 class="Titulo" > Crear Nuevo Platillo </h1>
            <img class="Imagen" src="{% static 'img/logo50amigos.png' %}"  alt="">
        </div>     
    </div>
    <img class="ImagenUno" src="{% static 'img/enchiladas.jpeg' %}"  alt="">
    <img class="ImagenDos" src="{% static 'img/Ingredientes.svg' %}"  alt="">
     <form>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label class="label1" for="inputNombre">Nombre del platillo : </label>
              <input type="Nombre del platillo" class="form-control" id="inputEmail4" placeholder="Enchiladas"
              style="background-color: #DFD7D7; font-family: Piazzolla;
              font-style: italic;
              font-weight: 400;
              font-size: 24px;
              line-height: 16px;
              width: 300px;
              border-radius: 5px;
              position: absolute;
              left: 35.81%;
              right: 35.18%;
              top: 35.62%;
              bottom: 25.41%;">
            </div>
            <div class="form-group col-md-4">
                <label  class="label2" for="inputState"> Categoria</label>
                <select id="inputState" class="form-control"
                style="background-color: #DFD7D7; font-family: Piazzolla;
                font-style: italic;
                font-weight: 400;
                font-size: 24px;
                line-height: 20px;
                width: 300px;
                height: 50px;
                border-radius: 5px;
                position: absolute;
                left: 60.81%;
                right: 35.18%;
                top: 35.62%;
                bottom: 25.41%;">
                  <option selected>Entradas</option>
                  <option>Platillos Principales</option>
                  <option>Bebidas</option>
                  <option>Helados</option>
                </select>
              </div>
            <!--
            <div class="form-group col-md-6">
              <label class="label2" for="inputPassword4">Categoria :</label>
              <input type="categoria" class="form-control" id="inputPassword4" placeholder="Platillos Principales"
              style="background-color: #DFD7D7; font-family: Piazzolla;
              font-style: italic;
              font-weight: 400;
              font-size: 24px;
              line-height: 20px;
              width: 300px;
             border-radius: 5px;
             position: absolute;
             left: 60.81%;
             right: 35.18%;
             top: 35.62%;
             bottom: 25.41%;">
            </div>
            -->
          <div class="form-group">
            <label class="label3" for="inputAddress"> Descripción :</label>
            <textarea class="form-control" id="Descripción" 
            rows="3"  style="background-color: #DFD7D7; font-family: Piazzolla;
              font-style: italic;
              font-weight: 400;
              font-size: 24px;
              line-height: 16px;
              width: 300px;
              height: 170px ;
              border-radius: 5px;
             position: absolute;
             left: 35.81%;
             right: 35.18%;
             top: 48.62%;
             bottom: 25.41%;"
             >
             </textarea>
          </div>
          <div class="form-group">
            <label class="label4"for="inputAddress2">Precio : </label>
            <input type="text" class="form-control" id="Precio" placeholder="XXX.XXX"
            style="background-color: #DFD7D7; font-family: Piazzolla;
              font-style: italic;
              font-weight: 400;
              font-size: 24px;
              line-height: 16px;
              width: 300px;
             border-radius: 5px;
             position: absolute;
             left:  60.81%;
             right: 35.18%;
             top: 48.62%;
             bottom: 25.41%;">
          </div>
        </div>
     </form>
    <button type="button" class="btn btn-primary btn-lg">Añadir Platillo +</button>
    <button type="button" class="btn btn-secondary btn-lg"> Cancelar -</button>
    <!--<h2 class="Contenido"> Descripción :</h2>
    <h2 class="Contenido2"> Precio :</h2>
    <h2 class="Contenido3"> Categoria :</h2> -->
   </div>
{% endblock content %}
