{% extends 'base.html' %}
{% load static %}
{% block htmlhead %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Platillo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/PlatilloSty.css' %}">      
{% endblock htmlhead %}
{% block content %}
{% include 'navbar.html' %}
    <div class="container-sm">
        <div class="container-sm-2">
            <h1 class="Titulo" > {{ platillo.descrpcion }} </h1>
            <img class="Imagen" src="{% static 'img/logo50amigos.png' %}"  alt="">
        </div>     
    </div>
    <img class="ImagenUno" src="{{ platillo.imagen }}"  alt="img">
    <p class="Contenido"> Descripción :</p>
    <p class="card-text overflow-auto texto-card">
        {{ platillo.descrpcion }}
    </p>
    <p class="Contenido3"> Categoria :</p>
    <p class="card-text3 overflow-auto texto-card">
        {{ platillo.id_tipo_platillo }}
    </p>
    <p class="Contenido2"> Precio : </p>
    <p class="card-text2 overflow-auto texto-card">
        $ {{ platillo.precio }}
    </p>
    <!--
    <a type="button" 
       class="btn btn-primary btn-lg">Añadir al carrito +</a> -->
    <a type="button" href="{% url 'agregarPlatillo' platillo.id_tipo_platillo.descripcion platillo.id_platillo platillo.id_platillo%}"
       class="btn btn-primary btn-lg">Añadir al carrito +</a>
    <button type="button" class="btn btn-secondary btn-lg"> Cancelar -</button>
   </div>
   
{% endblock content %}
