{% extends 'base.html' %}
{% load static %}
{% block htmlhead %}
    <title>Respuestas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ResStyle.css' %}">      
{% endblock htmlhead %}
{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid" style="padding-bottom: 50px;"> 
    <div class="container-sm">
            <h1 class="Titulo" > Respuestas </h1>
            <img class="Imagen" src="{% static 'img/logo50amigos.png' %}"  alt="">  
    </div>
    <div class="row">
    <table class="table table-sm">
        <thead>
          <tr>
            <th class="Res" scope="col">
                <h2 class="Opcion">
                     Opción 1
                </h2>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
                <p class="card-text overflow-auto texto-card">
                    Nombre 1 <br>
                    Nombre 2 <br>
                    Nombre 3 <br>
                </p>
            </th>
        </tbody>
      </table>
      <table class="table table-sm-2">
        <thead>
          <tr>
            <th class="Res" scope="col">
                <h2 class="Opcion">
                     Opción 2
                </h2>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
                <p class="card-text overflow-auto texto-card">
                    Nombre 4 <br>
                    Nombre 5 <br>
                    Nombre 6 <br>
                </p>
            </th>
        </tbody>
      </table>

      <table class="table table-sm-3">
        <thead>
          <tr>
            <th class="Res" scope="col">
                <h2 class="Opcion">
                     Opción 3
                </h2>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
                <p class="card-text overflow-auto texto-card">
                    
                </p>
            </th>
        </tbody>
      </table>
    </div>
      <table class="table table-sm-4">
        <tbody>
          <tr>
            <th scope="row">
                <p class="card-text-2 overflow-auto texto-card">
                    50 % <br>
                </p>
            </th>
        </tbody>
      </table>

      <table class="table table-sm-5">
        <tbody>
          <tr>
            <th scope="row">
                <p class="card-text-2 overflow-auto texto-card">
                    50 % <br>
                </p>
            </th>
        </tbody>
      </table>
      <table class="table table-sm-6">
        <tbody>
          <tr>
            <th scope="row">
                <p class="card-text-2 overflow-auto texto-card">
                    0 % <br>
                </p>
            </th>
        </tbody>
      </table>
   </div>
   <div class="row">
   <button type="button" class="btn btn-secondary btn-lg"> Cerrar</button>
  </div>
  </div>
  
   {% endblock content %}