{% extends 'base.html' %}
{% load static %}
{% block htmlhead %}
    <title>Resultados votación</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/secciones.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/resultados-votacion.css' %}">    
{% endblock htmlhead %}
{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid justify-content-center">
    <div class="container-sm " style="margin-top: 20px; margin-bottom: 50px; background-color: #FFD494;">
        <div class="row" style="text-align: center; padding: 30px;">
            <h1 class="title">Resultados:</h1>
        </div>
        <div class="container-sm" style="text-align: center;">
            <img class="img-fluid" src="{% static 'img/pie-chart.svg' %}" alt="gráfica" style="width: 30%;">
            <p>Sabor Ganador</p>
        </div>
        <div class="container-sm" style="text-align: center; width: 80%; padding-bottom: 50px;">
            <h1 class="title">{{ganador.helado}}</h1><br>
            <h3>Detalles de los votos</h3>

            <table>
                <tr>
                  <th>Sabor</th>
                  <th>Total de votos</th>
                </tr>
                {% for exp in explicacion %}
                    <tr>
                    <td>{{exp.helado}}</td>
                    <td>{{exp.count}}</td>
                    </tr>
                {% endfor %}
              </table>


            <div class="container-fluid">

                <a href="{% url 'menu' %}" class="btn btn-cerrar">Cerrar</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}